<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Human Resources admin demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roles">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Roles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="department">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Department
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="position">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Position
            </NavLink>
        </div>

       
    </nav>
</div>

